* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 130, 138);
}

.grid-container {
    width: 80%;
    margin: 100px auto;
    background-color: rgb(240, 222, 198);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    /* grid starts here */
    display: grid;
    grid-template-rows: 250px 250px;
    /* shortcut */
    grid-template-rows: repeat(2, 250px);

    grid-template-columns: 250px 250px 250px;
    /* but remaining extra space */
    /* for extra space we will use 1fr */
    grid-template-columns: 250px 1fr 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 2fr;
    /* shortcut */
    grid-template-columns: repeat(3, 1fr);

    /* min content "spce of a bigger word"*/
    grid-template-columns: 1fr min-content repeat(1, 1fr);

    /* max content "all text in one line kindof whitespace nowrape" */
    grid-template-columns: 1fr max-content repeat(1, 1fr);

    /* minmax */
    grid-template-columns: 1fr minmax(250px , 1fr) repeat(1, 1fr);

    /* for responsive */
    /* auto-fill */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */

    /* auto-fit (mostly used)*/
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

    /* for desktop, it will show 3 columns */
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    


    /* gaps */
    row-gap: 20px;
    column-gap: 20px;
    /* for both */
    gap: 20px;

    /* for extra rows */
    grid-auto-rows: 250px;

    /* aligns (verticqlly) */
    align-items: center;
    /* align-items: start; */
    /* align-items: self-end; */
    align-items: stretch;

    /* justify (horizontally) */
    justify-items: start;
    justify-items: center;
    justify-items: end;
    justify-items: stretch;
}

@media (width < 1100px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.item {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* we can change the position easily */

.item-1 {
    background-color: #999999;

    /* want to move item 1 on the location of item 5 */
    /* we have 3 rows and 4 columns */
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; */

    /* shorcuts */
    /* grid-row: 2 / 3;
    grid-column: 2 / 3; */

    /* more shortcut */
    /* row start / column start / row end / column end */
    /* grid-area: 2 / 2 / 3 / 3; */
}

.item-2 {
    background-color: #D3D3D3;
}

.item-3 {
    background-color: #F48243;
    /* grid-row: 1 / 2;
    grid-column: 2 / 4; */
}

.item-4 {
    background-color: #4A9982;

}

.item-5 {
    background-color: #96B65C;
}

.item-6 {
    background-color: #F4F5D4;
}