* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --supporting-color: rgb(167, 80, 80);
    --font-color: #fff;
    --bg-color: rgb(167, 80, 80);
    --btn-bg-color: #fff;

}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    height: 100vh;
    padding: 50px 100px;
}


.container {
    height: 80vh;   
    max-width: 1320px;
    padding: 64px 0;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 6.4rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
    text-align: left;
    font-size: 54px;
}

.hero-content  p{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 2rem 0 4rem 0;
}

img {
    width: 100%;
    height: auto;
}

.hero-content a {
    background-color: var(--bg-color);
    border: 5px solid var(--main-color);
    display: inline-block;
    padding: 10px 32px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

a {
    color: var(--main-color);
}