* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.section-about,
.section-testimonial {
    background-color: #000;
}

/* .section-about .grid h1, 
.section-about .grid p,
.section-testimonial .grid h1,
.section-testimonial .grid p {
    color: red;
} */

/* use Shorthand */

/* where() (no specificity/priority) */
/* :where(.section-about, .section-testimonial) .grid :where(h1, p) {
    color: blue;
} */

/* is() (highest priority)*/
:is(.section-about, .section-testimonial) .grid :is(h1, p) {
    color: #fff;
}

/* has() */
.parent:has([type="checkbox"]:checked) label {
    color: red;
}

/* accent color */
input[type="checkbox"] {
    accent-color: orange;
    width: 20px;
    aspect-ratio: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

p, label {
    font-size: 20px;
}

/* navbar */
header {
    padding: 3.6rem 0;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 2rem;
    list-style: none;
    border: 1px solid red;
}

/* not() */
nav ul :not(li:first-child) {
    /* will not apply on 1st child */
    padding-left: 50px;
}

